html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*
 ****************************
 * 滚动条样式设置
 ****************************
 */
::-webkit-scrollbar-track {
  border-radius: 7px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(170, 169, 169, 0.4);
  border: 3px solid transparent;
  &:hover {
    background-color: rgba(170, 169, 169, 0.6);
    transition: background-color 0.15s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  }
}

.page-container {
  display: flex;
  flex: 1 0 0%;
  overflow: hidden;
}

.side-container {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid var(--el-border-color);
  overflow: auto;
}

.el-menu {
  border: none;
}

.main-container {
  padding: 20px 30px;
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  position: relative;
}
